Repository boostcamp-2020/IssueTracker-12, pull requests merged in 2020-10, with the labels that each got.

#35 [feat] 백엔드 프로젝트 구조 초기화
  web-BE/.eslintrc.js
  web-BE/.gitignore
  web-BE/app.js
  web-BE/config/db_connection.js
  web-BE/config/passport_config.js
  web-BE/config/query.js
  web-BE/models/auth.js
  web-BE/models/comment.js
  web-BE/models/issue.js
  web-BE/models/label.js
  web-BE/models/milestone.js
  web-BE/nodemon.json
  web-BE/package-lock.json
  web-BE/package.json
  web-BE/route/api/auth/controller.js
  web-BE/route/api/auth/index.js
  web-BE/route/api/comment/controller.js
  web-BE/route/api/comment/index.js
  web-BE/route/api/issue/controller.js
  web-BE/route/api/issue/index.js
  web-BE/route/api/label/controller.js
  web-BE/route/api/label/index.js
  web-BE/route/index.js
  web-BE/route/milestone/controller.js
  web-BE/route/milestone/index.js
  web-BE/services/index.js
  web-BE/sql/create-table.sql
Labels: web-BE

#43 [fix] issue_milestone 테이블 삭제
  web-BE/sql/create-table.sql
Labels: database, web-BE

#47 Issue Detail 하단 메뉴 화면 구성
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Assets.xcassets/down.imageset/Contents.json
  iOS/IssueTracker/IssueTracker/Assets.xcassets/down.imageset/down.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/up.imageset/Contents.json
  iOS/IssueTracker/IssueTracker/Assets.xcassets/up.imageset/up.png
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/IssueList/ViewController/IssueAttributeFloatingViewController.swift
  iOS/IssueTracker/IssueTracker/IssueList/ViewController/IssueDetailViewController.swift
  iOS/IssueTracker/Podfile
  iOS/IssueTracker/Podfile.lock
Labels: iOS

#49 로그인 화면 구성
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
Labels: iOS

#60 라벨 화면과 마일스톤화면에서 +버튼 클릭시 입력창이 안나오던 것 수정
  iOS/IssueTracker/IssueTracker.xcodeproj/xcshareddata/xcschemes/IssueTracker.xcscheme
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/Extension/UIColor+Extension.swift
  iOS/IssueTracker/IssueTracker/Label/ViewController/LabelEditViewController.swift
  iOS/IssueTracker/IssueTracker/Label/ViewController/LabelViewController.swift
  iOS/IssueTracker/IssueTracker/Milestone/ViewController/MilestoneViewController.swift
Labels: iOS
