Repository boostcamp-2020/IssueTracker-12, pull requests merged in 2020-11, with the labels that each got.

#61 [feat] milestone API 작성
  web-BE/config/query.js
  web-BE/models/milestone.js
  web-BE/routes/api/index.js
  web-BE/routes/api/milestone/controller.js
  web-BE/routes/api/milestone/index.js
Labels: api, web-BE

#65 label Edit 화면의 color picker 제거
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/Extension/String+Extension.swift
  iOS/IssueTracker/IssueTracker/Extension/UIColor+Extension.swift
  iOS/IssueTracker/IssueTracker/Label/ViewController/LabelEditViewController.swift
  iOS/IssueTracker/IssueTracker/Label/ViewController/LabelViewController.swift
  iOS/IssueTracker/IssueTracker/Milestone/ViewController/MilestoneEditViewController.swift
Labels: iOS

#63 [feat] id, password를 DB에서 확인한 후 토큰 반환하는 기능 구현
  web-BE/app.js
  web-BE/config/passport_config.js
  web-BE/config/query.js
  web-BE/models/auth.js
  web-BE/package-lock.json
  web-BE/package.json
  web-BE/routes/api/auth/controller.js
  web-BE/routes/api/auth/index.js
Labels: web-BE

#71 [feat] Apple ID 및 Github ID 로 로그인하기
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/Info.plist
  iOS/IssueTracker/IssueTracker/IssueTracker.entitlements
  iOS/IssueTracker/IssueTracker/Login/GithubConstants.swift
  iOS/IssueTracker/IssueTracker/Login/ViewController/LoginViewController.swift
  iOS/IssueTracker/IssueTracker/Network/LoginManager.swift
Labels: iOS

#73 New Issue 화면 구현
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/IssueList/ViewController/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/IssueList/ViewController/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/IssueList/ViewController/NewIssueViewController.swift
  iOS/IssueTracker/Podfile
  iOS/IssueTracker/Podfile.lock
Labels: iOS

#78 NetworkManger 구현 및 label, milestone 기능 구현
  iOS/IssueTracker/.swiftlint.yml
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker.xcodeproj/xcshareddata/xcschemes/IssueTracker.xcscheme
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/Extension/NotificationName.swift
  iOS/IssueTracker/IssueTracker/Info.plist
  iOS/IssueTracker/IssueTracker/Label/View/LabelCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Label/ViewController/LabelEditViewController.swift
  iOS/IssueTracker/IssueTracker/Label/ViewController/LabelViewController.swift
  iOS/IssueTracker/IssueTracker/Milestone/View/MilestoneCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Milestone/ViewController/MilestoneEditViewController.swift
  iOS/IssueTracker/IssueTracker/Milestone/ViewController/MilestoneViewController.swift
  iOS/IssueTracker/IssueTracker/Model/Issue.swift
  iOS/IssueTracker/IssueTracker/Model/IssueList.swift
  iOS/IssueTracker/IssueTracker/Model/Label.swift
  iOS/IssueTracker/IssueTracker/Model/Milestone.swift
  iOS/IssueTracker/IssueTracker/Network/LoginManager.swift
  iOS/IssueTracker/IssueTracker/Network/NetworkManager.swift
  iOS/IssueTracker/IssueTracker/Network/URLs.swift
  iOS/IssueTracker/IssueTrackerNetworkTests/Info.plist
  iOS/IssueTracker/IssueTrackerNetworkTests/IssueTrackerNetworkTests.swift
  iOS/IssueTracker/Podfile
  iOS/IssueTracker/Podfile.lock
Labels: iOS

#80 [feat] issue List cell 구성 변경
  iOS/IssueTracker/IssueTracker/Assets.xcassets/Issue/Contents.json
  iOS/IssueTracker/IssueTracker/Assets.xcassets/Issue/closeMark.imageset/Contents.json
  iOS/IssueTracker/IssueTracker/Assets.xcassets/Issue/closeMark.imageset/closeMark.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/Issue/openMark.imageset/Contents.json
  iOS/IssueTracker/IssueTracker/Assets.xcassets/Issue/openMark.imageset/openMark.png
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/IssueList/View/IssueListCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/IssueList/View/IssueListCollectionViewCell.xib
  iOS/IssueTracker/IssueTracker/IssueList/ViewController/IssueListViewController.swift
Labels: iOS

#77 [feat] web-BE issue 관련 api 구현
  web-BE/config/query.js
  web-BE/models/assignee.js
  web-BE/models/issue.js
  web-BE/models/issue_label.js
  web-BE/routes/api/index.js
  web-BE/routes/api/issue/controller.js
  web-BE/routes/api/issue/index.js
Labels: web-BE

#79 [feat] comment api 구현
  web-BE/config/query.js
  web-BE/models/comment.js
  web-BE/routes/api/comment/controller.js
  web-BE/routes/api/comment/index.js
  web-BE/routes/api/index.js
  web-BE/routes/api/issue/comment/controller.js
  web-BE/routes/api/issue/comment/index.js
  web-BE/routes/api/issue/index.js
  web-BE/routes/api/milestone/controller.js
Labels: web-BE

#81 [feat] 이슈 목록을 불러올 때 로그인한 사용자가 assign 되었는지 여부와 댓글을 달았는지 여부도 불러오도록 수정
  web-BE/config/query.js
  web-BE/models/issue.js
  web-BE/routes/api/index.js
  web-BE/routes/api/issue/controller.js
Labels: web-BE

#84 [feat] Add oAuth route
  web-BE/routes/api/auth/controller.js
  web-BE/routes/api/auth/index.js
Labels: web-BE

#83 [feat]filter UI 생성
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/IssueList/View/FilterTableViewCell.swift
  iOS/IssueTracker/IssueTracker/IssueList/ViewController/FilterTableViewController.swift
  iOS/IssueTracker/IssueTracker/IssueList/ViewController/IssueFilterViewController.swift
  iOS/IssueTracker/IssueTracker/Model/Milestone.swift
  iOS/IssueTracker/IssueTrackerNetworkTests/IssueTrackerNetworkTests.swift
Labels: iOS

#85 [feat] issue 데이터 받기 및 화면에 뿌리기
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Assets.xcassets/Issue/closeIssue Background Color.colorset/Contents.json
  iOS/IssueTracker/IssueTracker/Assets.xcassets/Issue/closeIssueColor.colorset/Contents.json
  iOS/IssueTracker/IssueTracker/Assets.xcassets/Issue/down.imageset/Contents.json
  iOS/IssueTracker/IssueTracker/Assets.xcassets/Issue/down.imageset/down__.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/Issue/emoticon.imageset/Contents.json
  iOS/IssueTracker/IssueTracker/Assets.xcassets/Issue/emoticon.imageset/emoticon.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/Issue/newIssue.imageset/Contents.json
  iOS/IssueTracker/IssueTracker/Assets.xcassets/Issue/newIssue.imageset/newIssue.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/Issue/openIssue Background Color.colorset/Contents.json
  iOS/IssueTracker/IssueTracker/Assets.xcassets/Issue/openIssueColor.colorset/Contents.json
  iOS/IssueTracker/IssueTracker/Assets.xcassets/Issue/openMark.imageset/openMark.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/Issue/up.imageset/Contents.json
  iOS/IssueTracker/IssueTracker/Assets.xcassets/Issue/up.imageset/up__.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/cat.imageset/Contents.json
  iOS/IssueTracker/IssueTracker/Assets.xcassets/cat.imageset/cat.jpeg
  iOS/IssueTracker/IssueTracker/Assets.xcassets/down.imageset/down.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/up.imageset/up.png
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/Extension/NotificationName.swift
  iOS/IssueTracker/IssueTracker/Issue/View/IssueDetailTableViewCell.swift
  iOS/IssueTracker/IssueTracker/Issue/View/IssueListCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Issue/View/IssueListCollectionViewCell.xib
  iOS/IssueTracker/IssueTracker/Issue/View/IssueListEditTableViewCell.swift
  iOS/IssueTracker/IssueTracker/Issue/ViewController/IssueAttributeFloatingViewController.swift
  iOS/IssueTracker/IssueTracker/Issue/ViewController/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/Issue/ViewController/IssueListEditViewController.swift
  iOS/IssueTracker/IssueTracker/Issue/ViewController/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/Issue/ViewController/NewIssueViewController.swift
  iOS/IssueTracker/IssueTracker/Label/View/LabelCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Label/ViewController/LabelEditViewController.swift
  iOS/IssueTracker/IssueTracker/Model/Issue.swift
  iOS/IssueTracker/IssueTracker/Model/Label.swift
  iOS/IssueTracker/IssueTracker/Model/Milestone.swift
  iOS/IssueTracker/IssueTracker/Model/User.swift
  iOS/IssueTracker/IssueTracker/Network/NetworkManager.swift
  iOS/IssueTracker/IssueTracker/Network/URLs.swift
Labels: iOS

#92 [fix] Network manager token 추가
  iOS/IssueTracker/IssueTracker/Network/NetworkManager.swift
Labels: iOS

#90 [feat] Github oAuth -> insert User route
  web-BE/config/query.js
  web-BE/models/auth.js
  web-BE/routes/api/auth/controller.js
  web-BE/routes/api/auth/index.js
  web-FE/src/api/auth.js
  web-FE/src/components/githubLogin.jsx
  web-FE/src/pages/Home.jsx
Labels: api, web-BE, web-FE

#94 [style] 레이블 및 마일스톤 화면 수정
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/Extension/UIColor+Extension.swift
  iOS/IssueTracker/IssueTracker/Label/View/LabelCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Label/ViewController/LabelEditViewController.swift
  iOS/IssueTracker/IssueTracker/Label/ViewController/LabelViewController.swift
  iOS/IssueTracker/IssueTracker/Milestone/View/MilestoneCollectionViewCell.swift
Labels: iOS

#96 [feat] 이슈 페이지 UI 작성
  web-FE/package-lock.json
  web-FE/package.json
  web-FE/public/images/drop-down-arrow.svg
  web-FE/public/images/exclamation.svg
  web-FE/public/images/github.svg
  web-FE/public/images/label.svg
  web-FE/public/images/logo.svg
  web-FE/public/images/milestone.svg
  web-FE/public/images/search.svg
  web-FE/src/App.jsx
  web-FE/src/api/issue.js
  web-FE/src/components/Issue/IssueListBoard.jsx
  web-FE/src/components/Issue/IssueListHeader.jsx
  web-FE/src/components/Issue/IssueListItem.jsx
  web-FE/src/components/Issue/IssueMain.jsx
  web-FE/src/components/Issue/IssueMenu.jsx
  web-FE/src/components/Issue/OpenCloseIndicator.jsx
  web-FE/src/components/Issue/index.jsx
  web-FE/src/components/commons/Button.jsx
  web-FE/src/components/commons/ButtonWithIcon.jsx
  web-FE/src/components/commons/Dropdown.jsx
  web-FE/src/components/commons/DropdownModal.jsx
  web-FE/src/components/commons/Header.jsx
  web-FE/src/components/commons/PageLayout.jsx
  web-FE/src/components/commons/Searchbar.jsx
  web-FE/src/index.jsx
  web-FE/src/stores/IssueStore.jsx
  web-FE/webpack.config.js
Labels: web-FE

#97 [feat] 필터 화면 구현
  iOS/IssueTracker/IssueTracker/Extension/NotificationName.swift
  iOS/IssueTracker/IssueTracker/Issue/View/FilterTableViewCell.swift
  iOS/IssueTracker/IssueTracker/Issue/View/IssueListCollectionViewCell.xib
  iOS/IssueTracker/IssueTracker/Issue/ViewController/IssueFilterViewController.swift
  iOS/IssueTracker/IssueTracker/Model/Filter.swift
  iOS/IssueTracker/IssueTracker/Model/FilterCriteria.swift
  iOS/IssueTracker/IssueTracker/Model/Issue.swift
  iOS/IssueTracker/IssueTracker/Model/User.swift
  iOS/IssueTracker/IssueTracker/Network/URLs.swift
Labels: iOS

#98 [feat] 이슈 리스트 swipe 기능 구현
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Assets.xcassets/Issue/newIssue.imageset/newIssue.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/closed.imageset/closed.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/open.imageset/Contents.json
  iOS/IssueTracker/IssueTracker/Assets.xcassets/open.imageset/open.png
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/Issue/View/IssueListCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Issue/View/IssueListCollectionViewCell.xib
  iOS/IssueTracker/IssueTracker/Issue/ViewController/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/Issue/ViewController/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/Label/ViewController/LabelViewController.swift
  iOS/IssueTracker/IssueTracker/Milestone/ViewController/MilestoneViewController.swift
  iOS/IssueTracker/IssueTracker/Model/Issue.swift
  iOS/IssueTracker/IssueTracker/Model/IssueList.swift
  iOS/IssueTracker/IssueTracker/Network/NetworkManager.swift
  iOS/IssueTracker/IssueTracker/Network/URLs.swift
Labels: iOS

#104 [feat] 이슈 edit 화면 및 선택된 이슈 닫는 기능
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/Info.plist
  iOS/IssueTracker/IssueTracker/Issue/IssueConstants.swift
  iOS/IssueTracker/IssueTracker/Issue/View/IssueListCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Issue/View/IssueListEditTableViewCell.swift
  iOS/IssueTracker/IssueTracker/Issue/ViewController/IssueListEditViewController.swift
  iOS/IssueTracker/IssueTracker/Issue/ViewController/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/Model/Issue.swift
Labels: iOS

#111 [feat] 새 이슈 작성 및 이슈 등록
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/Issue/ViewController/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/Issue/ViewController/NewIssueViewController.swift
  iOS/IssueTracker/IssueTracker/Label/ViewController/LabelEditViewController.swift
  iOS/IssueTracker/IssueTracker/Milestone/ViewController/MilestoneEditViewController.swift
  iOS/IssueTracker/IssueTracker/Milestone/ViewController/MilestoneViewController.swift
  iOS/IssueTracker/IssueTracker/Model/Issue.swift
  iOS/IssueTracker/IssueTracker/Model/NewComment.swift
  iOS/IssueTracker/IssueTracker/Model/NewIssue.swift
  iOS/IssueTracker/IssueTracker/Model/ResponseData.swift
  iOS/IssueTracker/IssueTracker/Network/NetworkManager.swift
  iOS/IssueTracker/IssueTracker/Network/URLs.swift
Labels: iOS

#114 [feat] label 삭제,수정 UX
  web-FE/src/api/label.js
  web-FE/src/components/Label/EditLabelForm.jsx
  web-FE/src/components/Label/LabelListBoard.jsx
  web-FE/src/components/Label/LabelListItem.jsx
  web-FE/src/components/Label/LabelMain.jsx
  web-FE/src/components/services/labelService.jsx
  web-FE/src/services/labelService.jsx
  web-FE/src/stores/EditLabelContext.jsx
  web-FE/src/stores/LabelStore.jsx
Labels: web-FE

#126 [feat] 깃헙 로그인 성공 시, 메인화면 이동
  iOS/IssueTracker/IssueTracker/AppDelegate.swift
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/Extension/NotificationName.swift
  iOS/IssueTracker/IssueTracker/Login/ViewController/LoginViewController.swift
  iOS/IssueTracker/IssueTracker/Network/LoginManager.swift
Labels: iOS

#129 [style] 로그인 매니저 코드 다듬기
  iOS/IssueTracker/IssueTracker/Network/LoginManager.swift
  iOS/IssueTracker/IssueTracker/Network/NetworkManager.swift
Labels: iOS
